@mixin flex-centratura {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-hover {
  background-color: $button-color-hover;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

@mixin debug-border {
  border: 1px solid black;
}
