.section2 {
  @include debug-border;
  padding: 60px 0;

  .section2-content {
    @include debug-border;
    display: flex;
    padding: 50px 0;

    .only-img {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .content-left {
      @include debug-border;
      width: 50%;
      flex-shrink: 0;
      min-height: 150px;

      & > .text {
        margin-left: auto;
      }

      & > .only-img {
        text-align: right;
      }

    }

    .content-right {
      @include debug-border;
      width: 50%;
      flex-shrink: 0;
      min-height: 150px;
    }

    .text {
      width: 50%;
      padding: 0 15px;

      h1 {
        font-size: 1.5rem;
      }

      h4 {
        font-size: 1.5rem;
        font-weight: normal;
      }

      h4 a {
        color: $button-color;
      }

      h4 a i {
        font-size: 1rem;
      }

      .img_container {
        text-align: center;
        img {
          max-width: 65%;
          height: auto;
        }
      }
    }

  }
}
