@import "_variables";
@import "_common";
@import "_header";
@import "_section1";
@import "_section2";
@import "_section3";
@import "_footer";

html {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $fonts-color;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
